/* 

-- Halloween theme for Violent Monkey --

# Instructions: 

- 1. Visit and copy the contents of: https://gitlab.com/c9x3/halloweenthemeviolentmonkey/-/raw/main/HalloweenThemeViolentMonkey.css.

- 2. Within Violent Monkeys extension option page, go to Settings -> Advanced -> Custom Style and paste all of the contents of, "HalloweenThemeViolentMonkey.css" into the custom css box and click save.

# Original license: 

The MIT License (MIT)

Copyright (c) 2018 Dracula Theme

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

https://github.com/gkroon/dracula-css

# Licensing information: https://gitlab.com/c9x3/license/-/raw/main/LICENSE.md 

# Project homepage: https://gitlab.com/c9x3/halloweenthemeviolentmonkey

*/

html,
body {
	background-image: none !important;
	background-color: rgba(40, 42, 54, 1) !important;
}

/* Text within textbox color. */

body * {
	color: rgb(230, 148, 41) !important;
	background-color: rgba(40, 42, 54, 1) !important;
}

/* */

a,
a * {
	color: rgba(80, 250, 123, 1) !important;
	background-color: transparent !important;
}

a:hover,
a:hover *,
a:visited:hover,
a:visited:hover *,
span[onclick]:hover,
div[onclick]:hover,
[role="link"]:hover,
[role="link"]:hover *,
[role="button"]:hover *,
[role="menuitem"]:hover,
[role="menuitem"]:hover *,
.link:hover,
.link:hover * {
	color: rgba(241, 250, 140, 1) !important;
}

a:visited,
a:visited * {
	color: rgba(98, 114, 164, 1) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
[id*="headline"],
[class*="headline"],
[id*="header"],
[class*="header"],

/* Changes the color of the, "Violentmonkey" text within the Violent Monkey extension options page. */

[class*="header"] td

{
	color: rgb(87, 187, 157) !important;
}

/* */

table {
	background-color: rgba(40, 42, 54, 1) !important;
}

[id*="overlay"],
[id*="lightbox"],
blockquote {
	background-color: rgba(68, 71, 90, 1) !important;
}

pre,
dl {
	background-color: rgba(68, 71, 90, 1) !important;
}

input,
select,
button,
[role="button"],
a.button,
a.submit,
a.BigButton,
a.TabLink,

/* Button colors */

.install[onclick] {

	text-indent: 5px;
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	background: rgb(87, 187, 157) !important;

}

/* */

/* Text area (within text boxes) color. */

textarea {
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	background: rgb(0, 0, 0) !important;
}

/* */

div,
ul,
li {
	background-image: none !important;
}

a.highlight,
a.highlight *,
a.active,
a.active *,
.selected,
.selected *,
[href="#"] 

/* Color for focused tab. */

{
	font-weight: bold !important;
	color: rgb(87, 187, 157) !important;
}

/* */

